<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 <h1>Team Name: <%= @bteam[:name] %></h1>
 <h2>Coach: <%= @bteam[:coach] %></h2>
 <h2>Point Guard: <%= @bteam[:pg] %></h2>
 <h2>Power Forward: <%= @bteam[:pf] %></h2>
 <h2>Small Foward: <%= @bteam[:sf] %></h2>
 <h2>Shooting Guard: <%= @bteam[:sg] %></h2>
 <h2>Center: <%= @bteam[:c] %></h2>
 

 </body>
</html>


